# Data Collection 

Having used the scraper found in the main.py file, we are now reading to combine the data files below.

In [20]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [21]:
ama = pd.read_csv('indi_datasets/amazon.csv') 
ama['company_name']='Amazon'

In [22]:
goo = pd.read_csv('indi_datasets/google.csv') 
goo['company_name']='Google'

In [23]:
mic = pd.read_csv('indi_datasets/microsft.csv') 
mic['company_name']='Microsoft'

In [24]:
fac = pd.read_csv('indi_datasets/facebook.csv') 
fac['company_name']='Facebook'

In [25]:
app = pd.read_csv('indi_datasets/apple.csv') 
app['company_name']='Apple'

In [26]:
air = pd.read_csv('indi_datasets/airforce.csv') 
air['company_name']='Airforce'

In [27]:
cap = pd.read_csv('indi_datasets/capone.csv') 
cap['company_name']='Capital_One'

In [28]:
qua = pd.read_csv('indi_datasets/qualcomm.csv') 
qua['company_name']='Qualcomm'

In [29]:
inte = pd.read_csv('indi_datasets/intel.csv') 
inte['company_name']='Intel'

In [30]:
ver = pd.read_csv('indi_datasets/verizon.csv') 
ver['company_name']='Verizon'

In [31]:
first_ten = pd.concat([ama, goo, mic, fac, app, air, cap, qua, inte, ver])  
first_ten.company_name.nunique() 

#first_ten.describe()
#first_ten.company_name.value_counts()

10

In [64]:
first_ten.to_csv('first_ten.csv', index=False)

In [32]:
mat = pd.read_csv('indi_datasets/mattel.csv') 
mat['company_name']='Mattel'  

ea = pd.read_csv('indi_datasets/ea.csv') 
ea['company_name']='EA'  

acc = pd.read_csv('indi_datasets/accenture.csv') 
acc['company_name']='Accenture' 

jpm = pd.read_csv('indi_datasets/jpmorgan.csv') 
jpm['company_name']='JP_Morgan'  

tmo = pd.read_csv('indi_datasets/tmobile.csv') 
tmo['company_name']='T_Mobile' 

usa = pd.read_csv('indi_datasets/usarmy.csv') 
usa['company_name']='US_Army'  

cit = pd.read_csv('indi_datasets/citi.csv') 
cit['company_name']='Citi'  

dele = pd.read_csv('indi_datasets/deloitte.csv') 
dele['company_name']='Deloitte'  

ibm = pd.read_csv('indi_datasets/ibm.csv') 
ibm['company_name']='IBM'  

ora = pd.read_csv('indi_datasets/oracle.csv') 
ora['company_name']='Oracle'

In [33]:
sec_ten = pd.concat([mat, ea, acc, jpm, tmo, usa, cit, dele, ibm, ora])  
sec_ten.company_name.nunique()

10

In [67]:
sec_ten.to_csv('sec_ten.csv', index=False)

In [34]:
tra = pd.read_csv('indi_datasets/traderjoes.csv') 
tra['company_name']='Trader_Joes'  

pwc = pd.read_csv('indi_datasets/pwc.csv') 
pwc['company_name']='PWC'  

bli = pd.read_csv('indi_datasets/blizzard.csv') 
bli['company_name']='Blizzard' 

mei = pd.read_csv('indi_datasets/meijer.csv') 
mei['company_name']='Meijer'  

sta = pd.read_csv('indi_datasets/starbucks.csv') 
sta['company_name']='Starbucks' 

com = pd.read_csv('indi_datasets/comcast.csv') 
com['company_name']='Comcast'  

hom = pd.read_csv('indi_datasets/homedepot.csv') 
hom['company_name']='Home_Depot'  

ey = pd.read_csv('indi_datasets/ey.csv') 
ey['company_name']='EY'  

tat = pd.read_csv('indi_datasets/tataconsult.csv') 
tat['company_name']='Tata_Consultancy'  

usn = pd.read_csv('indi_datasets/usnavy.csv') 
usn['company_name']='US_Navy'

In [35]:
third_ten = pd.concat([tra, pwc, bli, mei, sta, com, hom, ey, tat, usn])  
third_ten.company_name.nunique()

10

In [5]:
third_ten.to_csv('third_ten.csv', index=False)

In [36]:
bb = pd.read_csv('indi_datasets/bestbuy.csv') 
bb['company_name']='Best_Buy'  

nas = pd.read_csv('indi_datasets/nasa.csv') 
nas['company_name']='NASA'  

boe = pd.read_csv('indi_datasets/boeing.csv') 
boe['company_name']='Boeing' 

loc = pd.read_csv('indi_datasets/lockheadmartin.csv') 
loc['company_name']='Lockhead_Martin'  

spa = pd.read_csv('indi_datasets/spacex.csv') 
spa['company_name']='Space_X' 

ven = pd.read_csv('indi_datasets/venable.csv') 
ven['company_name']='Venable'  

buc = pd.read_csv('indi_datasets/buckman.csv') 
buc['company_name']='Buckman'  

blu = pd.read_csv('indi_datasets/bluecora.csv') 
blu['company_name']='Blucora'  

nor = pd.read_csv('indi_datasets/nordstrom.csv') 
nor['company_name']='Nordstrom'  

cog = pd.read_csv('indi_datasets/cognizanttech.csv') 
cog['company_name']='Cognizant_Technology'

In [37]:
fourth_ten = pd.concat([bb, nas, boe, loc, spa, ven, buc, blu, nor, cog])  
fourth_ten.company_name.nunique()

10

In [5]:
fourth_ten.to_csv('fourth_ten.csv', index=False)

In [38]:
wel = pd.read_csv('indi_datasets/wellsfargo.csv') 
wel['company_name']='Wells_Fargo'  

koh = pd.read_csv('indi_datasets/kohls.csv') 
koh['company_name']='Kohls'  

uni = pd.read_csv('indi_datasets/unitedhealth.csv') 
uni['company_name']='United_Health' 

att = pd.read_csv('indi_datasets/att.csv') 
att['company_name']='AT&T'  

ups = pd.read_csv('indi_datasets/ups.csv') 
ups['company_name']='UPS' 

sta = pd.read_csv('indi_datasets/statefarm.csv') 
sta['company_name']='State_Farm'  

aer = pd.read_csv('indi_datasets/aerotek.csv') 
aer['company_name']='Aerotek'  

mcd = pd.read_csv('indi_datasets/mcdonalds.csv') 
mcd['company_name']='McDonalds'  

low = pd.read_csv('indi_datasets/loweshi.csv') 
low['company_name']='Lowes'  

inf = pd.read_csv('indi_datasets/infosys.csv') 
inf['company_name']='Infosys'

In [39]:
fifth_ten = pd.concat([wel, koh, uni, att, ups, sta, aer, mcd, low, inf])  
fifth_ten.company_name.nunique()

10

In [8]:
fifth_ten.to_csv('fifth_ten.csv', index=False)

In [40]:
mac = pd.read_csv('indi_datasets/macys.csv') 
mac['company_name']='Macys'  

wip = pd.read_csv('indi_datasets/wipro.csv') 
wip['company_name']='Wipro'  

ent = pd.read_csv('indi_datasets/enterprise.csv') 
ent['company_name']='Enterprise' 

walm = pd.read_csv('indi_datasets/walmart.csv') 
walm['company_name']='Walmart'  

walg = pd.read_csv('indi_datasets/walgreens.csv') 
walg['company_name']='Walgreens'  

cvs = pd.read_csv('indi_datasets/cvs.csv') 
cvs['company_name']='CVS' 

f21 = pd.read_csv('indi_datasets/f21.csv') 
f21['company_name']='Forever_21'  

spe = pd.read_csv('indi_datasets/spectrum.csv') 
spe['company_name']='Spectrum'  

kra = pd.read_csv('indi_datasets/kraftheinz.csv') 
kra['company_name']='Kraft_Heinz'  

dil = pd.read_csv('indi_datasets/dillards.csv') 
dil['company_name']='Dillards'

In [41]:
sixth_ten = pd.concat([mac, wip, ent, walm, walg, cvs, f21, spe, kra, dil])  
sixth_ten.company_name.nunique()

10

In [5]:
sixth_ten.to_csv('sixth_ten.csv', index=False)

In [42]:
dis = pd.read_csv('indi_datasets/dish.csv') 
dis['company_name']='Dish'  

kma = pd.read_csv('indi_datasets/kmart.csv') 
kma['company_name']='Kmart'  

xer = pd.read_csv('indi_datasets/xerox.csv') 
xer['company_name']='Xerox' 

fam = pd.read_csv('indi_datasets/familydollar.csv') 
fam['company_name']='Family_Dollar'  

exp = pd.read_csv('indi_datasets/expressscripts.csv') 
exp['company_name']='Express_Scripts'  

chi = pd.read_csv('indi_datasets/childrensplace.csv') 
chi['company_name']='Childrens_Place' 

reg = pd.read_csv('indi_datasets/regal.csv') 
reg['company_name']='Regal'  

laf = pd.read_csv('indi_datasets/lafitness.csv') 
laf['company_name']='LA_Fitness'  

ste = pd.read_csv('indi_datasets/steaknshake.csv') 
ste['company_name']='Steak_and_Shake'  

con = pd.read_csv('indi_datasets/conduent.csv') 
con['company_name']='Conduent_EI'

In [43]:
seventh_ten = pd.concat([dis, kma, xer, fam, exp, chi, reg, laf, ste, con])  
seventh_ten.company_name.nunique()

10

In [7]:
seventh_ten.to_csv('seventh_ten.csv', index=False)

In [44]:
alo = pd.read_csv('indi_datasets/alorica.csv') 
alo['company_name']='Alorica'  

s = pd.read_csv('indi_datasets/speedway.csv') 
s['company_name']='Speedway'  

c = pd.read_csv('indi_datasets/cdkglobal.csv') 
c['company_name']='CDK_Global' 

u = pd.read_csv('indi_datasets/ussecurity.csv') 
u['company_name']='US_Security_Associates'  

g = pd.read_csv('indi_datasets/genesishealth.csv') 
g['company_name']='Genesis_Health'  

f = pd.read_csv('indi_datasets/frontiercomm.csv') 
f['company_name']='Frontier_Communications' 

fr = pd.read_csv('indi_datasets/freshmarket.csv') 
fr['company_name']='Fresh_Market'  

un = pd.read_csv('indi_datasets/unitedbioso.csv') 
un['company_name']='United_BioSource'  

uni = pd.read_csv('indi_datasets/unionpacific.csv') 
uni['company_name']='Union_Pacific'  

w = pd.read_csv('indi_datasets/willsonoma.csv') 
w['company_name']='Williams_Sonoma'

In [45]:
eigth_ten = pd.concat([alo, s, c, u, g, f, fr, un, uni, w])  
eigth_ten.company_name.nunique()

10

In [4]:
eigth_ten.to_csv('eigth_ten.csv', index=False)

In [46]:
r = pd.read_csv('indi_datasets/rentacent.csv') 
r['company_name']='Rent_A_Center'  

s = pd.read_csv('indi_datasets/signetjewl.csv') 
s['company_name']='Signet_Jewelers'  

g = pd.read_csv('indi_datasets/gannett.csv') 
g['company_name']='Gannett' 

i = pd.read_csv('indi_datasets/intertek.csv') 
i['company_name']='Intertek'  

ga = pd.read_csv('indi_datasets/gamestop.csv') 
ga['company_name']='Gamestop'  

su = pd.read_csv('indi_datasets/suncor.csv') 
su['company_name']='Suncor' 

re = pd.read_csv('indi_datasets/rescare.csv') 
re['company_name']='ResCare'  

d = pd.read_csv('indi_datasets/dyson.csv') 
d['company_name']='Dyson'  

c = pd.read_csv('indi_datasets/compucom.csv') 
c['company_name']='CompuCom'  

dol = pd.read_csv('indi_datasets/dollargen.csv') 
dol['company_name']='Dollar_General'

In [47]:
ninth_ten = pd.concat([r, s, g, i, ga, su, re, d, c, dol])  
ninth_ten.company_name.nunique()

10

In [11]:
ninth_ten.to_csv('ninth_ten.csv', index=False)

In [48]:
o = pd.read_csv('indi_datasets/officemax.csv') 
o['company_name']='Office_Max'  

c = pd.read_csv('indi_datasets/conifer.csv') 
c['company_name']='Conifer_Health'  

r = pd.read_csv('indi_datasets/regus.csv') 
r['company_name']='Regus' 

cs = pd.read_csv('indi_datasets/csx.csv') 
cs['company_name']='CSX'  

n = pd.read_csv('indi_datasets/norfoldsouth.csv') 
n['company_name']='Norfold_South'  

a = pd.read_csv('indi_datasets/arizonastate.csv') 
a['company_name']='Arizona_State' 

i = pd.read_csv('indi_datasets/intuit.csv') 
i['company_name']='Intuit'  

w = pd.read_csv('indi_datasets/washuni.csv') 
w['company_name']='Washington_University'  

l = pd.read_csv('indi_datasets/lululemon.csv') 
l['company_name']='Lululemon'  

u = pd.read_csv('indi_datasets/uofpenn.csv') 
u['company_name']='University_of_Penn'

In [49]:
tenth_ten = pd.concat([o, c, r, cs, n, a, i, w, l, u])  
tenth_ten.company_name.nunique()

10

In [17]:
tenth_ten.to_csv('tenth_ten.csv', index=False)

In [50]:
n = pd.read_csv('indi_datasets/nih.csv') 
n['company_name']='NIH'  

u = pd.read_csv('indi_datasets/uofminn.csv') 
u['company_name']='Uni_of_Minnesota'  

g = pd.read_csv('indi_datasets/gmuni.csv') 
g['company_name']='George_Mason_Uni' 

uc = pd.read_csv('indi_datasets/ucdavis.csv') 
uc['company_name']='UC_Davis'  

r = pd.read_csv('indi_datasets/redhat.csv') 
r['company_name']='Redhat'  

a = pd.read_csv('indi_datasets/akamai.csv') 
a['company_name']='Akamai' 

nv = pd.read_csv('indi_datasets/nvidia.csv') 
nv['company_name']='Nvidia'  

h = pd.read_csv('indi_datasets/hubspot.csv') 
h['company_name']='Hubspot'  

d = pd.read_csv('indi_datasets/docusign.csv') 
d['company_name']='Docusign'  

s = pd.read_csv('indi_datasets/sap.csv') 
s['company_name']='SAP'

In [51]:
eleventh_ten = pd.concat([n, u, g, uc, r, a, nv, h, d, s])  
eleventh_ten.company_name.nunique()

10

In [12]:
eleventh_ten.to_csv('eleventh_ten.csv', index=False)

In [52]:
o = pd.read_csv('indi_datasets/carnmellon.csv') 
o['company_name']='Carnegie_Mellon'  

c = pd.read_csv('indi_datasets/bainco.csv') 
c['company_name']='Bain&Co'  

r = pd.read_csv('indi_datasets/powerhomr.csv') 
r['company_name']='Power_Home_Remodel' 

cs = pd.read_csv('indi_datasets/stjudech.csv') 
cs['company_name']='StJudes_Childrens_Hosp'  

n = pd.read_csv('indi_datasets/deltaair.csv') 
n['company_name']='Delta_Air'  

a = pd.read_csv('indi_datasets/salesforce.csv') 
a['company_name']='Salesforce' 

i = pd.read_csv('indi_datasets/mitedu.csv') 
i['company_name']='MIT'  

w = pd.read_csv('indi_datasets/northsidehosp.csv') 
w['company_name']='Northside_Hosp'  

l = pd.read_csv('indi_datasets/swair.csv') 
l['company_name']='SW_Air'  

u = pd.read_csv('indi_datasets/ejgallowine.csv') 
u['company_name']='EJ_Gallo_Winery'

In [53]:
twelvth_ten = pd.concat([o, c, r, cs, n, a, i, w, l, u])  
twelvth_ten.company_name.nunique()

10

In [14]:
twelvth_ten.to_csv('twelvth_ten.csv', index=False)

In [54]:
o = pd.read_csv('indi_datasets/adobe.csv') 
o['company_name']='Adobe'  

c = pd.read_csv('indi_datasets/wwtech.csv') 
c['company_name']='World_Wide_Tech'  

r = pd.read_csv('indi_datasets/mathworks.csv') 
r['company_name']='Mathworks' 

cs = pd.read_csv('indi_datasets/paylocity.csv') 
cs['company_name']='Paylocity'  

n = pd.read_csv('indi_datasets/uscoastguard.csv') 
n['company_name']='US_Coastguard'  

a = pd.read_csv('indi_datasets/morissonhealth.csv') 
a['company_name']='Morisson_Health' 

i = pd.read_csv('indi_datasets/mckinseyandco.csv') 
i['company_name']='Mckinsey_and_Co'  

w = pd.read_csv('indi_datasets/bostonco.csv') 
w['company_name']='Boston_Consulting'  

l = pd.read_csv('indi_datasets/paycom.csv') 
l['company_name']='Paycom'  

u = pd.read_csv('indi_datasets/royalcarib.csv') 
u['company_name']='Royal_Caribbean'

In [55]:
thirteenth_ten = pd.concat([o, c, r, cs, n, a, i, w, l, u])  
thirteenth_ten.company_name.nunique()

10

In [7]:
thirteenth_ten.to_csv('thirteenth_ten.csv', index=False)

In [56]:
o = pd.read_csv('indi_datasets/mdacancer.csv') 
o['company_name']='MDAnderson_Cancer'  

c = pd.read_csv('indi_datasets/vans.csv') 
c['company_name']='Vans'  

r = pd.read_csv('indi_datasets/heb.csv') 
r['company_name']='HEB' 

cs = pd.read_csv('indi_datasets/patni.csv') 
cs['company_name']='Patni_CS'  

n = pd.read_csv('indi_datasets/inoutburger.csv') 
n['company_name']='InnOut_Burger'  

a = pd.read_csv('indi_datasets/indeed.csv') 
a['company_name']='Indeed' 

i = pd.read_csv('indi_datasets/mastercard.csv') 
i['company_name']='Mastercard'  

w = pd.read_csv('indi_datasets/genetech.csv') 
w['company_name']='Genentech'  

l = pd.read_csv('indi_datasets/zillow.csv') 
l['company_name']='Zillow'  

u = pd.read_csv('indi_datasets/square.csv') 
u['company_name']='Square'

In [57]:
fourteenth_ten = pd.concat([o, c, r, cs, n, a, i, w, l, u])  
fourteenth_ten.company_name.nunique()

10

In [10]:
fourteenth_ten.to_csv('fourteenth_ten.csv', index=False)

In [58]:
o = pd.read_csv('indi_datasets/iheart.csv') 
o['company_name']='iHeart_Media'  

c = pd.read_csv('indi_datasets/g4ssecure.csv') 
c['company_name']='G4S_Secure'  

r = pd.read_csv('indi_datasets/mattressfirm.csv') 
r['company_name']='Mattress_Firm' 

cs = pd.read_csv('indi_datasets/dxctech.csv') 
cs['company_name']='DXC_Tech'  

n = pd.read_csv('indi_datasets/uniqlo.csv') 
n['company_name']='Uniqlo'  

a = pd.read_csv('indi_datasets/pilotflying.csv') 
a['company_name']='Pilot_Flying_J' 

i = pd.read_csv('indi_datasets/autonation.csv') 
i['company_name']='Auto_Nation'  

w = pd.read_csv('indi_datasets/sogeti.csv') 
w['company_name']='Sogeti'  

l = pd.read_csv('indi_datasets/hdsupply.csv') 
l['company_name']='HD_Supply'  

u = pd.read_csv('indi_datasets/ssadmin.csv') 
u['company_name']='Social_Security_Admin'

In [59]:
fifteenth_ten = pd.concat([o, c, r, cs, n, a, i, w, l, u])  
fifteenth_ten.company_name.nunique()

10

In [4]:
fifteenth_ten.to_csv('fifteenth_ten.csv', index=False)

In [63]:
full_dataset = pd.concat([first_ten, sec_ten, third_ten, fourth_ten, fifth_ten, sixth_ten, seventh_ten, eigth_ten, ninth_ten, tenth_ten,
                         eleventh_ten, twelvth_ten, thirteenth_ten, fourteenth_ten, fifteenth_ten])

In [64]:
full_dataset.company_name.nunique()

150

In [65]:
full_dataset.to_csv('full_dataset.csv', index=False)

In [70]:
full_dataset.nunique()

date                  817
employee_title       4896
location             1822
employee_status        70
review_title         9534
helpful                61
pros                13588
cons                14335
advice_to_mgmt       4092
rating_overall          5
rating_balance          9
rating_culture          8
rating_career           9
rating_comp             9
rating_mgmt             5
recommends              8
positive_outlook        3
approves_of_CEO         3
company_name          150
dtype: int64

In [72]:
len(full_dataset)

14926